.navbar{
    box-shadow: 0px 8px 16px rgb(79 53 183 / 5%);
    padding: 15px 30px;
}
.navbar-brand{
    max-width: 250px;
}
.navbar-brand:focus{
    outline: none;
    border: none;
}
.navbar-nav .nav-link{
    font-weight: 600;
    font-size: 22px;
    color: #314865;
}
.navbar-nav .nav-link:hover{
    color: #3D3184;
    scale: 1.1;
    transition: 0.2s;
}
.navbar-nav{
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.nav-link-icon{
    width: 43px;
}
.nav-item.dropdown .dropdown-toggle::after{
    display: none;
}
.nav-item.dropdown .dropdown-toggle{
    max-width: 62px;
}
.dropdown-menu[data-bs-popper]{
    left: auto;
    right: 0;
    min-width: 24rem;
    padding: 15px 24px;
    box-shadow: 0px 8px 24px rgb(79 53 183 / 25%);
    border-radius: 32px;
    border: none;
    margin-top: 2rem;
}
.nav-link.dropdown-toggle{
    border-radius: 15px;
}
.user-info-dropdown-link{
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 15px;
    padding: 15px !important;
    background: #F1F2F8;
    margin-bottom: 10px;
}
.user-info-wrap{
    display: grid;
    font-weight: 600;
}
.user-info-wrap span:nth-child(1){
    font-size: 24px;
    background: #F1F2F8;
    color: #3D3184;
}
.user-info-wrap span:nth-child(2){
    font-size: 16px;
    color: #6C7381;
}
.user-info-dropdown-link a img{
    width: 56px;
}
.navbar-dropdown .dropdown-item{
    font-size: 22px;
    font-weight: 600;
    color: #45536E;
    padding: 22px 15px;
    border-radius: 15px;
}
.navbar-dropdown .dropdown-item:hover{
    background-color: #F1F2F8;
    color: #3D3184;
}
.navbar-dropdown hr:not([size]){
    background: #E1DCF3;
}

/* Responsive */
@media(max-width: 1600px) {
    .navbar{
        min-height: 70px;
    }
    .navbar-brand {
        max-width: 180px;
    }
    .header-search-wrap label {
        font-size: 15px;
    }
    .header-search-wrap input {
        height: 38px;
        border: 1.5px solid #576989;
        border-radius: 6px;
        font-size: 15px;
    }
    .btn-primary {
        border-radius: 6px;
        height: 38px;
        padding: 4px 30px !important;
        font-size: 15px;
    }
    .btn-primary-outline {
        border-radius: 6px;
        height: 38px;
        padding: 4px 30px !important;
        font-size: 15px;
    }
    .navbar-nav .nav-link {
        font-size: 15px;
    }
    .navbar-nav {
        gap: 15px;
    }
    .nav-link-icon {
        width: 36px;
    }
    .nav-link-bell-icon{
        padding: 7px !important;
    }
    .nav-item.dropdown .dropdown-toggle {
        max-width: 55px;
    }
    .dropdown-menu[data-bs-popper] {
        min-width: 18rem;
        padding: 15px;
        border-radius: 22px;
        margin-top: 1rem;
    }
    .user-info-wrap span:nth-child(1) {
        font-size: 20px;
    }
    .navbar-dropdown .dropdown-item {
        font-size: 16px;
    }
    .user-info-dropdown-link{
        padding: 10px !important;
    }
    .user-info-wrap span:nth-child(2) {
        font-size: 12px;
    }
    .navbar-dropdown .dropdown-item {
        padding: 10px;
        border-radius: 7px;
    }
}