<header>
    <app-header></app-header>
  </header>
<div class="container pt-5">
    <div class="row m-0">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-content">
                    <form class="basic-form">
                        <h3 class="form-title">Basic</h3>
                        <div class="row m-0">
                            <div class="col-sm-12 mb-4 p-0">
                                <div class="form-input-wrap position-relative">
                                    <label for="fName" class="form-label custom-form-label">Full Name</label>
                                    <input id="fName" type="text" class="form-control custom-form-control" placeholder="Enter your full name">
                                    <span class="input-word-count">0/70</span>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-4 p-0">
                                <div class="form-input-wrap position-relative">
                                    <label for="role" class="form-label custom-form-label">Designation/Role</label>
                                    <input id="role" type="text" class="form-control custom-form-control" placeholder="Enter your Designation">
                                    <span class="input-word-count">0/70</span>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-4 p-0">
                                <div class="form-input-wrap position-relative">
                                    <label for="mail" class="form-label custom-form-label">E-mail</label>
                                    <input id="mail" type="email" class="form-control custom-form-control" placeholder="Enter your Email Id">
                                </div>
                            </div>
                            <div class="col-sm-6 mb-4 p-0">
                                <div class="form-input-wrap position-relative">
                                    <label for="phone" class="form-label custom-form-label">Phone</label>
                                    <input id="phone" type="text" class="form-control custom-form-control" placeholder="Enter your phone">
                                </div>
                            </div>
                            <div class="col-sm-12 p-0 mt-4">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row m-0">
                <div class="col-sm-12 p-0">
                    <div class="card">
                        <div class="card-content">
                            <form class="basic-form">
                                <div class="row m-0">
                                    <div class="col-sm-12 mb-4 p-0">
                                        <div class="form-file-upload-wrap">
                                            <div class="upload-input-wrap">
                                                <input type="file" id="file">
                                                
                                                <label for="file">
                                                    <div class="file-upload-inner-content">
                                                        <div class="file-upload-content">
                                                            <img src="../../../../assets/img/imgPlaceholder.png" class="upload-file-icon">
                                                            <span class="upload-label">Upload Photo</span>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 p-0 mt-4">
                                        <label  for="file" class="btn btn-primary-outline lh-30 w-100">Select File</label>
                                    </div>
                                    <div class="col-sm-12 p-0 mt-4">
                                        <button type="submit" class="btn btn-primary w-100" disabled>Upload</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p-0 mt-4">
                    <div class="card">
                        <div class="card-content">
                            <form class="basic-form">
                                <h3 class="form-title">Reset Password</h3>
                                <div class="row m-0">
                                    <div class="col-sm-12 mb-4 p-0">
                                        <div class="form-input-wrap">
                                            <label for="oldPassword" class="form-label custom-form-label">Old Password</label>
                                            <input id="oldPassword" type="text" class="form-control custom-form-control" placeholder="*********">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mb-4 p-0">
                                        <div class="form-input-wrap">
                                            <label for="newPassword" class="form-label custom-form-label">New password</label>
                                            <input id="newPassword" type="text" class="form-control custom-form-control" placeholder="*********">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mb-4 p-0">
                                        <div class="form-input-wrap">
                                            <label for="confirmPassword" class="form-label custom-form-label">Confirm password</label>
                                            <input id="confirmPassword" type="text" class="form-control custom-form-control" placeholder="*********">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 p-0 mt-4">
                                        <button type="submit" class="btn btn-primary">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>