<header>
    <app-header></app-header>
  </header>
<div class="container pt-5">
    <div class="row m-0">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                    <form class="basic-form">
                        <h3 class="form-title pl-15">Create Admin</h3>
                        <div class="row m-0">
                            <div class="col-sm-8 mb-4">
                                <div class="form-input-wrap position-relative">
                                    <label for="fName" class="form-label custom-form-label">Full Name</label>
                                    <input id="fName" type="text" class="form-control custom-form-control" placeholder="Enter your full name">
                                    <span class="input-word-count">0/70</span>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-4">
                                <div class="form-input-wrap">
                                    <label for="role" class="form-label custom-form-label">Designation/Role</label>
                                    <input id="role" type="text" class="form-control custom-form-control" placeholder="Enter your Designation">
                                </div>
                            </div>
                            <div class="col-sm-8 mb-4">
                                <div class="form-input-wrap">
                                    <label for="mail" class="form-label custom-form-label">E-mail</label>
                                    <input id="mail" type="email" class="form-control custom-form-control" placeholder="Enter your Email Id">
                                </div>
                            </div>
                            <div class="col-sm-4 mb-4">
                                <div class="form-input-wrap">
                                    <label for="phone" class="form-label custom-form-label">Phone</label>
                                    <input id="phone" type="text" class="form-control custom-form-control" placeholder="Enter your phone">
                                </div>
                            </div>
                            <div class="col-sm-4 mb-4">
                                <div class="form-input-wrap">
                                    <label for="password" class="form-label custom-form-label">Password</label>
                                    <input id="password" type="text" class="form-control custom-form-control" placeholder="*********">
                                </div>
                            </div>
                            <div class="col-sm-4 mb-4">
                                <div class="form-input-wrap">
                                    <label for="confirmPassword" class="form-label custom-form-label">Confirm password</label>
                                    <input id="confirmPassword" type="text" class="form-control custom-form-control" placeholder="*********">
                                </div>
                            </div>
                            <div class="col-sm-12 mt-4">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>